# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribuição e empacotamento
*.egg
*.egg-info/
dist/
build/
.eggs/

# Ambientes virtuais
venv/
.venv/
env/
.env/

# Pytest
.pytest_cache/
.cache/
htmlcov/
.coverage
coverage.xml
*.cover

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Sphinx
docs/_build/
docs/_autosummary/

# macOS
.DS_Store
